.text-center { 
  text-align: center;
}

.text-right {
  text-align: right;
}

/* .current-condition {
  margin: .75rem .5rem 0;
} */

@media screen and (max-width: 599px) {
  .text-center {
    text-align: left;
    padding-left: 1rem;
  }
}